body{
    margin:0px;
	background-color: #ffffff;
	font-family: "Graphik webfont", "Arial", "sans-serif";
}

footer{
    margin-top: 30px;
    bottom: 0px;
    position: relative;
    width: 100%;
	font-family: "Graphik webfont", "Arial", "sans-serif";
}

#content{
    margin-left:20px;
    margin-right: 20px;
}

#nav {
    display: inline;
    float: left;
	margin-top: 15px;
	background-color: #ffffff;
}


#nav img{
	margin-left: 40px;
	margin-right: 10px;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #ffffff;
}

li img{
    width: 100px;
    height: 50px;
}

li a, .dropbtn {
	position: relative;
    display: inline-block;
    color: #444;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #afeeee;
}

li.dropdown {
    display: inline-block;
	margin-top: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
}

.dropdown-content a {
    color: #444;
    text-decoration: none;
    display: block;
    text-align: left;
	width: 100px;
}

.dropdown-content a:hover {
    background-color: #afeeee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#homeimg{
    display: block;
    margin: auto;
    width: 40%;
}

form{
    width: 350px;
    margin: 0 auto;
    border: medium solid #D3D3D3;
    padding-left: 10px;
    padding-right: 10px;
}

input{
    width:100%;
}

input[type=submit]{
    background-color: #afeeee;
}

h1{
    font-size: 30px;
}

label>input{
    visibility: hidden;
    position: absolute;
}

label >input+img{
    cursor: pointer;
    border: 1px solid transparent;
}

label>input:checked + img{
    border: 2px solid;
}

.error {
	width: 95%;
	margin-top: 20px;
	padding-left: 10px;
	background-color: #ffe5e5;
	border: 2px solid #ff6666;
	border-radius: 5px;
}

/* Home Page Elements */
#homebanner{
	width: 100%;
	height: 350px;
}

#homespecialties{
	width: 100%;
	height: 100px;
	float: left;
}

.specialties{
	width: 26%;
	float: left;
	text-align: center;
	margin-left: 5%;
}

.specialtiestext{
	line-height: 1.6;
}

.tick{
	width: 24px;
	height: 24px;
	margin-left: -3%;
	margin-right: 3%;
	vertical-align: middle;
}

#topcrafter{
	width: 100%;
	float: left;
}

#topcrafter h2{
	text-align: center;
}

.crafter{
	padding: 20px;
	width: 22%;
	float: left;
	margin-left: 6%;
	text-align: center;
	border: 2px solid #afeeee;
}

.crafterimg{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.rating{
	width: 100px;
	height: 20px;
}

#securepurchase{
	background-image: url("image/securebanner.png");
	width: 100%;
	height: 430px;
	float: left;
	margin-top: 60px;
	text-shadow: 1px 2px #000000;
}

#securepurchase h1{
	color: #ffffff;
	text-align: center;
	margin-top: 9%;
	margin-bottom: 2%;
}

.security{
	width: 20%;
	float: left;
	text-align: center;
	color: #ffffff;
	margin-left: 10%;
	line-height: 1.6;
}

/* Profile Page */
#profilewrapper{
	width: 100%;
	float: left;
}

.profileimgwrapper {
	text-align: center;
	width: 21%;
	float: left;
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: 5%;
	padding: 5%;
	padding-bottom: 4.5%;
	border: 2px solid #afeeee;
}

.profilepicture {
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 50%;
}

#profileimgname {
	font-size: 1.2em;
}

#profiledescriptionwrapper {
	width: 49%;
	float: left;
	margin-left: 4%;
	margin-top: 3%;
	padding: 2%;
	padding-left: 4%;
	border: 2px solid #afeeee;
}


#profileusername {
	font-size: 1.7em;
}

.profiledescription {
	
}

#profilebio{
	line-height: 1.7;
}

#profilehistorywrapper {
	text-align: center;
	width: 80%;
	margin: 10%;
	margin-top: 1%;
	float: left;
}

.historytitle {
	font-size: 1.7em;
	margin-bottom: 4%;
}

#profiletable {
	width: 100%;
}

#profiletable, th, td {
	padding: 2%;
	border: 2px solid #afeeee;
}

#profiletable th {
	background-color: #afeeee;
}